.container{
    margin-top: 30px;
}

.name{
    margin-left: 70px;
}

.wanttosee {
    margin-left: 740px !important;
    margin-top: -137px !important;
}

.theatrebutton {
    float: right;
    margin-top: -15px;
}

.profileinfo {
    width: 400px;
}

.remove {
    background-color: red !important;
    border: red;
    opacity: .7 !important; 
}